<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="myConnectionString" connectionString="Server=72.18.135.49,1533\lonelyOutpost;Database=lonelyOutpost;User Id=&quot;SQLAccount&quot;; Password=&quot;angL1can&quot;;" />
    <add name="LonelyOutpostEntities" connectionString="metadata=res://*/lonelyOutpostModel.csdl|res://*/lonelyOutpostModel.ssdl|res://*/lonelyOutpostModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=72.18.135.49,1533;initial catalog=LONELYOUTPOST;persist security info=True;user id=lonelyoutpost;password=q01palzm;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web,Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="myConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="MyApplicationName" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
  </system.web>
</configuration>